@font-face {
      font-family: 'IranSans';
      src: local('MyFont'), url(./fonts/IranSans/Fonts/irsans_p30download.com.ttf) format('ttf');
    }       
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}
.layOut{
    height: 100vh;
    overflow-y: auto;
}
.layOut::-webkit-scrollbar {
    width: 8px;
}
.layOut::-webkit-scrollbar-track {
    background: white;
}
.layOut::-webkit-scrollbar-thumb{
    background: rgba(35, 116, 116, 0.434);
    border-radius: 30px;
    
}
.layOut::-webkit-scrollbar-thumb:hover {
    background: rgba(35, 116, 116, 0.334);
}  
.layOut::-webkit-scrollbar-corner{
    border-radius: 30px;
}
